*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    color: white;
}
header{
  background-image: url("../img/header-background.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li{
    list-style: none;
    display: block;
    width: 100%;
}

.nav-links a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.mobile-menu span{
    width: 15px;
    border: 1px solid #fff;
    margin: 1px;
    display: none;
}

.nav-header{
    text-align: center;
    padding-bottom: 40px;
  }

/* google map section style */
.map iframe{
    width: 100%;
    height:400px;
}
/*contact form style here*/
.contact{
    margin: 0 200px 200px 200px;
    display: flex;
}

.message-area{
width: 60%;
background: rgb(218, 196, 196);
display: flex;
padding: 40px;
}

.message-title{
    display: inline-block;
}

.message-item{
    width: 100%;
    padding: 10px;
}

.inputbox{
    padding-bottom: 15px;
}

.message-area input{
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 5px;
}

.message-area input[type=text]:focus{
    outline: none;
}

.contact-address{
    width: 40%;
    background: yellowgreen;
}


@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}


@media screen and (max-width: 901px){
    .nav-links{
        display: none;
    }
    .mobile-menu span{
      display: block;
    }
}
